[submodule "TrabalhoFinal/BackEnd/2022_1_T2M_SRM_back"]
	path = TrabalhoFinal/BackEnd/2022_1_T2M_SRM_back
	url = git@github.com:serratec/2022_1_T2M_SRM_back.git
[submodule "TrabalhoFinal/FrontEnd/2022_1_T2M_SRM_front"]
	path = TrabalhoFinal/FrontEnd/2022_1_T2M_SRM_front
	url = git@github.com:serratec/2022_1_T2M_SRM_front.git
[submodule "ReactNative/trabalho-grupo/React-Nation-APP"]
	path = ReactNative/trabalho-grupo/React-Nation-APP
	url = git@github.com:tkyzfalcom/React-Nation-APP.git
[submodule "React/trabalho-grupo/Trabalho-React"]
	path = React/trabalho-grupo/Trabalho-React
	url = git@github.com:KrotVP/Trabalho-React.git
