[submodule "TrabalhoFinal/BackEnd/2022_1_T2M_SRM_back"]
	path = TrabalhoFinal/BackEnd/2022_1_T2M_SRM_back
	url = git@github.com:serratec/2022_1_T2M_SRM_back.git
[submodule "TrabalhoFinal/FrontEnd/2022_1_T2M_SRM_front"]
	path = TrabalhoFinal/FrontEnd/2022_1_T2M_SRM_front
	url = git@github.com:serratec/2022_1_T2M_SRM_front.git
[submodule "ReactNative/trabalho-grupo/React-Nation-APP"]
	path = ReactNative/trabalho-grupo/React-Nation-APP
	url = git@github.com:tkyzfalcom/React-Nation-APP.git
[submodule "React/trabalho-grupo/Trabalho-React"]
	path = React/trabalho-grupo/Trabalho-React
	url = git@github.com:KrotVP/Trabalho-React.git
[submodule "API/trabalho-grupo/Trabalho-Final-API-Restful"]
	path = API/trabalho-grupo/Trabalho-Final-API-Restful
	url = git@github.com:CristovaoSilvaMK77/Trabalho-Final-API-Restful.git
[submodule "OrientacaoObjetosJava/trabalho-grupo/projeto-sistemaBancario-serratec"]
	path = OrientacaoObjetosJava/trabalho-grupo/projeto-sistemaBancario-serratec
	url = git@github.com:alansmello/projeto-sistemaBancario-serratec.git
[submodule "FrontEndEssencial/trabalho-grupo/ProjetoFrontEnd"]
	path = FrontEndEssencial/trabalho-grupo/ProjetoFrontEnd
	url = git@github.com:Samirjc/ProjetoFrontEnd.git
